################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorApp1/DesignTimeBuild/.dtbcache.v2
/.vs/BlazorApp1/FileContentIndex/92fd2955-a8ee-4ea6-be50-f615cf608264.vsidx
/BlazorApp1/bin/Release/net8.0/appsettings.Development.json
/BlazorApp1/bin/Release/net8.0/appsettings.json
/BlazorApp1/bin/Release/net8.0/BlazorApp1.deps.json
/BlazorApp1/bin/Release/net8.0/BlazorApp1.dll
/BlazorApp1/bin/Release/net8.0/BlazorApp1.exe
/BlazorApp1/bin/Release/net8.0/BlazorApp1.pdb
/BlazorApp1/bin/Release/net8.0/BlazorApp1.runtimeconfig.json
/BlazorApp1/bin/Release/net8.0/BlazorApp1.staticwebassets.runtime.json
/BlazorApp1/bin/Release/net8.0/MQTTnet.dll
/BlazorApp1/BlazorApp1.csproj.user
/BlazorApp1/obj/BlazorApp1.csproj.nuget.dgspec.json
/BlazorApp1/obj/BlazorApp1.csproj.nuget.g.props
/BlazorApp1/obj/Debug/net8.0/apphost.exe
/BlazorApp1/obj/Debug/net8.0/BlazorApp1.AssemblyInfo.cs
/BlazorApp1/obj/Debug/net8.0/BlazorApp1.AssemblyInfoInputs.cache
/BlazorApp1/obj/Debug/net8.0/BlazorApp1.assets.cache
/BlazorApp1/obj/Debug/net8.0/BlazorApp1.csproj.AssemblyReference.cache
/BlazorApp1/obj/Debug/net8.0/BlazorApp1.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp1/obj/project.assets.json
/BlazorApp1/obj/project.nuget.cache
/BlazorApp1/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BlazorApp1/obj/Release/net8.0/apphost.exe
/BlazorApp1/obj/Release/net8.0/BlazorApp1.AssemblyInfo.cs
/BlazorApp1/obj/Release/net8.0/BlazorApp1.AssemblyInfoInputs.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.assets.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.csproj.AssemblyReference.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.csproj.CoreCompileInputs.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.csproj.FileListAbsolute.txt
/BlazorApp1/obj/Release/net8.0/BlazorApp1.csproj.Up2Date
/BlazorApp1/obj/Release/net8.0/BlazorApp1.dll
/BlazorApp1/obj/Release/net8.0/BlazorApp1.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp1/obj/Release/net8.0/BlazorApp1.genruntimeconfig.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.GlobalUsings.g.cs
/BlazorApp1/obj/Release/net8.0/BlazorApp1.MvcApplicationPartsAssemblyInfo.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.pdb
/BlazorApp1/obj/Release/net8.0/BlazorApp1.RazorAssemblyInfo.cache
/BlazorApp1/obj/Release/net8.0/BlazorApp1.RazorAssemblyInfo.cs
/BlazorApp1/obj/Release/net8.0/BlazorApp1.sourcelink.json
/BlazorApp1/obj/Release/net8.0/PublishOutputs.1cfc3cba96.txt
/BlazorApp1/obj/Release/net8.0/ref/BlazorApp1.dll
/BlazorApp1/obj/Release/net8.0/refint/BlazorApp1.dll
/BlazorApp1/obj/Release/net8.0/scopedcss/bundle/BlazorApp1.styles.css
/BlazorApp1/obj/Release/net8.0/scopedcss/projectbundle/BlazorApp1.bundle.scp.css
/BlazorApp1/obj/Release/net8.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/BlazorApp1/obj/Release/net8.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
/BlazorApp1/obj/Release/net8.0/staticwebassets/msbuild.BlazorApp1.Microsoft.AspNetCore.StaticWebAssets.props
/BlazorApp1/obj/Release/net8.0/staticwebassets/msbuild.build.BlazorApp1.props
/BlazorApp1/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.BlazorApp1.props
/BlazorApp1/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.BlazorApp1.props
/BlazorApp1/obj/Release/net8.0/staticwebassets.build.json
/BlazorApp1/obj/Release/net8.0/staticwebassets.development.json
/BlazorApp1/obj/Release/net8.0/staticwebassets.pack.json
/BlazorApp1/obj/Release/net8.0/staticwebassets.publish.json
